@charset "utf-8";
/* CSS Document */
.relative {position:relative;}
.absolute {position:absolute;}
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.translateXY { -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.translateY { -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
#LRdiv0, #LRfloater0, #LR_Flash { display: none !important; }
#LRdiv0, #LRdiv1, #LRdiv2, #LRfloater0, #divM, #LR_Flash, #BDBridgeWrap, #LRdiv3, #LRfloater3 { display: none; !important;
}
.swtRirhgt *{font-family:"΢���ź�"}
.swtRirhgt { width: 60px; position: fixed; right: 0; top: 50%; z-index: 300; }
.commonIcon, .commonIcon1 { display: block; width: 60px; height: 60px; position: relative; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
.commonIcon:hover { width: 70px; margin-left: -10px; }
.commonIcon:after, .commonIcon1:after { content: ''; position: absolute; left: 50%; top: 50%; background: url(../images/swtRightIcon.png) no-repeat; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.swtLink { background-color: #fe3509; }
.swtLink:after { width: 30px; height: 45px; background-position: -14px -10px; }
.swtLink em { position: absolute; right: 50%; top: 4px; margin-right: -24px; display: block; width: 20px; height: 20px; font-size: 15px; color: #fff; line-height: 20px; text-align: center; background-color: #ff0000; border-radius: 50%; z-index: 1; -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.8); box-shadow: 0 0 3px rgba(0,0,0,0.8); font-style: normal; }
.freeTell { width: 100%; height: 60px; position: relative;}
.tellIcon { float: left; }
.tellIcon:after { width: 30px; height: 44px; background-position: -68px -11px; }
.freeTell .container { position: absolute; left: 0; top: 0; width: 316px; height: 60px; line-height: 60px; padding-top: 0; background-color: #26c540;margin-top:0 !important; box-sizing:border-box;}
.freeTell .tellForm { width: 236px; height: 60px; float: left; background-color: #26c540; }
.freeTell .inner { width: 227px; height: 38px; margin-top: 11px; -webkit-box-shadow: 0 0 3px rgba(8,1,3,.2); box-shadow: 0 0 3px rgba(8,1,3,.2); border-radius: 19px; padding: 0; }
.freeTell .tellNumberTxt { width: 146px; height: 38px; background-color: #fff; font-size: 14px; color: #a4a4a4; line-height: 38px; padding-left: 14px; border-radius: 19px 0 0 19px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.freeTell .tellNumberBtn { display: block; width: 81px; line-height: 38px; text-align: center; font-size: 14px; color: #fff; text-decoration: none; background-color: #298137; border-radius: 0 19px 19px 0; -webkit-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; }
.freeTell .tellNumberBtn:hover { background-color: #196426; color: #fff; text-decoration: none; }
.qqLink { background-color: #0099cc; }
.qqLink:after { width: 25px; height: 46px; background-position: -126px -11px; }
.wxLink { background-color: #c0025a;/*position:relative;*/ }
.wxLink:after { width: 31px; height: 45px; background-position: -176px -11px; }
.wxLink > div { width: 140px; height: 138px; position: absolute; left: -138px; top: -35px; background: url(../images/swtRightIcon.png) no-repeat -204px -60px;-ms-transform: rotateX(270deg);-webkit-transform: rotateX(270deg); transform: rotateX(270deg);-webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }
.wxLink:hover > div {-ms-transform:rotateX(0);-webkit-transform:rotateX(0); transform: rotateX(0); }
.addressLink { background-color:/*#e93c8c*/#9900ff; }
.addressLink:after { width: 31px; height: 45px; background-position: -177px -10px; }
.scrollTop { background-color: #3d3f4b; }
.scrollTop:after { width: 30px; height: 15px; background-position: -240px -26px; }
/*Ӣ��ר���Ҳ�����css*/
.commonIcon_en, .commonIcon1_en { display: block; width: 60px; height: 60px; position: relative; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
.commonIcon_en:hover { width: 70px; margin-left: -10px; }
.commonIcon_en:after, .commonIcon1_en:after { content: ''; position: absolute; left: 50%; top: 50%; background: url(../images/swtRightIcon_en.png) no-repeat; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.swtLink_en { background-color: #fe3509; }
.swtLink_en:after { width: 35px; height: 44px; background-position: -14px -10px; }
.swtLink_en em { position: absolute; right: 50%; top: 4px; margin-right: -24px; display: block; width: 20px; height: 20px; font-size: 15px; color: #fff; line-height: 20px; text-align: center; background-color: #ff0000; border-radius: 50%; z-index: 1; -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.8); box-shadow: 0 0 3px rgba(0,0,0,0.8); font-style: normal; }
.freeTell_en { width: 100%; height: 60px; position: relative; }
.tellForm_en { float: left; }
.tellForm_en:after { width: 30px; height: 44px; background-position: -68px -11px; }
.freeTell_en .container { position: absolute; left: 0; top: 0; width: 316px; height: 60px; line-height: 60px; padding-top: 0; background-color: #26c540; }
.freeTell_en .tellForm { width: 236px; height: 60px; float: left; background-color: #26c540; }
.freeTell_en .inner { width: 227px; height: 38px; margin-top: 11px; -webkit-box-shadow: 0 0 3px rgba(8,1,3,.2); box-shadow: 0 0 3px rgba(8,1,3,.2); border-radius: 19px; padding: 0; }
.freeTell_en .tellNumberTxt { width: 146px; height: 38px; background-color: #fff; font-size: 14px; color: #a4a4a4; line-height: 38px; padding-left: 14px; border-radius: 19px 0 0 19px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.freeTell_en .tellNumberBtn { display: block; width: 81px; line-height: 38px; text-align: center; font-size: 14px; color: #fff; text-decoration: none; background-color: #298137; border-radius: 0 19px 19px 0; -webkit-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; }
.freeTell_en .tellNumberBtn:hover { background-color: #196426; color: #fff; text-decoration: none; }
.addressLink_en { background-color: #e93c8c; }
.addressLink_en:after { width: 35px; height: 44px; background-position: -177px -10px; }
/*end*/
/*���½�*/
.swtBottom *{font-family:"΢���ź�"}
.swtBottom { width: 185px; height: 158px; background-color: #3d3f4b; position: fixed; right: 0; bottom: 0; z-index: 300; border-radius: 10px; overflow: hidden; box-shadow: 0 0 35px #000; -webkit-box-shadow: 0 0 35px #000; -moz-box-shadow: 0 0 35px #000;-webkit-transition:all .8s ease-in 0s;transition:all .8s ease-in 0s;-ms-transform:translate3d(0,150%,0);-webkit-transform:translate3d(0,150%,0);transform:translate3d(0,150%,0); }
.swtBottom.active {-ms-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0); }
.swtBottom .titleBox { width: 100%; height: 27px; font-size: 16px; color: #888991; background-color: #3d3f4b; position: relative; margin: 0; float: none;padding-left:15px; }
.swtBottom .title span { display: inline-block; line-height: 27px; padding-left: 12px; float: left; }
.swtBottom .closeBtn { position: absolute; display: block; right: 15px; top: 3px; width: 19px; height: 19px; background-color: #2a2c38; border-radius: 50%; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
.swtBottom .closeBtn:hover { -webkit-animation: rotate360 0.3s ease 1; animation: rotate360 0.3s ease 1; }
@-webkit-keyframes rotate360 {  100% {
-webkit-transform:rotate(720deg);
-ms-transform:rotate(720deg);
transform:rotate(720deg);
}
}
@keyframes rotate360 {  100% {
-ms-transform:rotate(720deg);
-webkit-transform:rotate(720deg);
transform:rotate(720deg);
}
}
.swtBottom .closeBtn:before { position: absolute; left: 50%; top: 50%; content: ''; width: 14px; height: 1px; margin-left: -7px; margin0top: -1px; background-color: #fff; -ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.swtBottom .closeBtn:after { position: absolute; left: 50%; top: 50%; content: ''; width: 14px; height: 1px; margin-left: -7px; margin0top: -1px; background-color: #fff; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.chatBox { width: 100%; height: 71px; background-color: #FFF; }
.chatBox .welcomeWord { width: 154px; height: 48px; line-height: 22px; float: left; background: url(../images/swtRightIcon.png) no-repeat -14px -79px; margin-top: 10px; margin-left: 4px; font-size: 14px; color: #fff; padding-left: 13px; padding-right: 7px; padding-top: 3px; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
.chatTxt { width: 100%; height: 60px; background-color: #8c8c8c; }
.chatTxt .txt { width: 115px; height: 43px; border-radius: 10px; background-color: #FFF; overflow: hidden; float: left; padding: 3px 6px 0 6px; margin: 7px 0 0 9px; display: inline; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
.chatTxt .txt textarea { float: left; display: block; border: none; background-color: #FFF; width: 100%; height: 100%; max-height: 43px; max-width: 115px; color: #666; font-size: 14px; line-height: 21px; outline: none; }
.chatTxt .txt textarea:focus { outline: none; }
.chatTxt .txtSubmit { display: block; width: 37px; height: 38px; padding: 8px 3px 0; float: left; text-align: center; background-color: #171923; color: #fff; text-decoration: none; border-radius: 10px; margin-top: 7px; margin-left: 2px; display: inline; line-height: 14px; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
.chatTxt .txtSubmit span { display: block; }
.chatTxt .txtSubmit span:first-child { font-size: 14px; }
.chatTxt .txtSubmit span:last-child { font-size: 12px; }


/*�°�����ͨ�м䵯��*/
.KSTwinBox *{font-family:"΢���ź�"}
.KSTwinBox {width:500px;height:403px;display:none; background-color:#FFF;border-radius:10px;position:fixed;left:50%;top:50%; margin-left:-250px;margin-top:-201px;z-index:300; -webkit-transition: all 1.6s ease-out 0s; transition: all 1.6s ease-out 0s;  box-shadow: 7px 12px 65px 0px rgba(0, 0, 0 , 0.35); -webkit-box-shadow: 7px 12px 65px 0px rgba(0,0,0,0.35); -moz-box-shadow:7px 12px 65px 0px rgba(0,0,0,0.35);-ms-box-shadow:7px 12px 65px 0px rgba(0,0,0,0.35);-o-box-shadow:7px 12px 65px 0px rgba(0,0,0,0.35);overflow:hidden;}
.KSTlogo {width:100%;height:58px;padding:9px 15px 8px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box; box-sizing: border-box; }
.HMlogo  {display:block;padding-left:50px;height:41px;line-height:41px;font-size:16px;font-style:normal;color:#000;margin-right:32px;display:inline; background:url(../images/swtCenterLogo.png) no-repeat left center;}
.KSTlogo i b{color:#f76d02;margin-left:2px;}
.HMlogoWidi  {line-height:1.2 !important;}
.HMlogoWidi small {color:#888991;}
.KSTCloseBtn {width:22px;height:22px;right:4px;top:4px;cursor:pointer;}

.KSTimg::before{ position: absolute;content: '';width: 77px;height: 76px;background: url(../images/181hd_1.png) no-repeat center; left: 380px;top: -32px;box-shadow: 0 14px 32px rgba(0,0,0,.15);z-index: 1;border-radius: 50px; overflow: hidden}

.KSTwinBox .tellFormcen{width:228px;height:36px;position:absolute;top:175px;left:55px;box-shadow: 0 10px 16px 11px rgba(208,82,58,.3);border-radius: 50px; overflow: hidden}
.KSTwinBox .tellFormcen input{width:146px;height:36px;border:none;background:#fff;color:#000;font-size:14px;padding-left:10px;line-height:36px;float:left;border-top-left-radius:20px;border-bottom-left-radius:20px;overflow:hidden;box-sizing:border-box; -moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;font-weight: lighter}
.KSTwinBox .tellFormcen input:focus,.Rtell_form .inner input:focus{outline:none;}
.KSTwinBox .tellFormcen a.subCen_btn{width:82px;height:100%;line-height:36px;float:left;text-align:center;background:#26c540;color:#fff;text-decoration:none;font-size:14px;border-top-right-radius:15px;border-bottom-right-radius:15px;font-weight: lighter}
.KSTwinBox .tellFormcen a.subCen_btn:hover{ color:#ffd5ce;}



.KSTwinBox .txt {width:100%;height:35px;overflow:hidden;margin-bottom:0;background-image:none !important; }
.KSTwinBox .scrollNotice{margin-left:15px;display:inline;}
.KSTwinBox .scrollNotice{width:274px;height:23px;margin-top:6px;overflow:hidden;}
.KSTwinBox .scrollNotice li {width:274px;height:23px;line-height:23px;}
.KSTwinBox .scrollNotice a {width:100% !important;height:23px !important;line-height:23px !important;}
.KSTwinBox .scrollNotice a,.KSTwinBox .KSTnavs a,.KSTChatBox a {-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;-ms--transition:all 0.3s linear 0s;-o--transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;}
.KSTwinBox .scrollNotice a {left:0 !important;top:0 !important;display:block;font-size:12px;color:#868686;text-decoration:none;}
.KSTwinBox .KSTnavs a {display:block;font-size:12px !important;line-height:35px !important;color:#afafb5;text-decoration:none;float:left;margin-left:18px;display:inline;}
.KSTwinBox .KSTnavs a {width:auto !important;left:0 !important;top:0 !important;}
.KSTwinBox .KSTnavs a:hover,.KSTwinBox .scrollNotice a:hover {color:#000;text-decoration:none;}
.KSTwinBox .scrollNotice a:hover {text-decoration:underline;}
.KSTChatBox {width:479px;height:61px;margin:0 auto;overflow:hidden;border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(9,2,4,.3);-ms-box-shadow:inset 0 0 4px rgba(9,2,4,.3);-o-box-shadow:inset 0 0 4px rgba(9,2,4,.3);box-shadow:inset 0 0 4px rgba(9,2,4,.3);}
.KSTChatBox textarea{border:none;float:left;display:block;width:387px;height:53px;padding-left:4px;line-height:1.5; background-color:#FFF;color:#cacaca;font-size:14px;margin-top:4px;margin-left:4px;display:inline;outline:none;max-width:387px;max-height:53px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box; box-sizing: border-box; }
.KSTChatBox a {display:block;width:88px;height:61px; background-color:#26c540;color:#fff;font-size:16px;text-decoration:none;text-align:center;line-height:1;padding-top:15px;}
.KSTChatBox a p {text-align:center;}
.KSTChatBox a:hover { background-color:#19ae32;color:#fff;text-decoration:none;}

.animated1{-webkit-animation-duration:.8s;animation-duration:.8s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes fadeInDown1 { 0% {
-webkit-transform:translate3d(0, -300%, 0) ;
-ms-transform:translate3d(0, -300%, 0) ;-webkit-transform:translate3d(0, -300%, 0) ;
transform: translate3d(0, -300%, 0);
}

50%{
-webkit-transform:rotate(3deg);-ms-transform:rotate(3deg);-webkit-transform:rotate(3deg);
transform:rotate(3deg);
	}

100% {
-webkit-transform: none;-ms-transform: none;-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInDown1 { 00% {
-webkit-transform:translate3d(0, -300%, 0) ;
-ms-transform:translate3d(0, -300%, 0) ;-webkit-transform:translate3d(0, -300%, 0) ;
transform: translate3d(0, -300%, 0);
}

50%{
-webkit-transform:rotate(3deg);-ms-transform:rotate(3deg);-webkit-transform:rotate(3deg);
transform:rotate(3deg);
	}

100% {
-webkit-transform: none;-ms-transform: none;-webkit-transform: none;
transform: none;
}
}
.fadeInDown1 { -webkit-animation-name: fadeInDown1; animation-name: fadeInDown1 }
@-webkit-keyframes fadeOutDown1 {
50%{
-webkit-transform:rotate(-5deg);-ms-transform:rotate(-5deg);
transform:rotate(-5deg);
	}
100% {
-webkit-transform:translate3d(0, 300%, 0);-ms-transform:translate3d(0, 300%, 0);
transform:translate3d(0, 300%, 0);
}
}
@keyframes fadeOutDown1 {
50%{
-webkit-transform:rotate(-5deg);-ms-transform:rotate(-5deg);
transform:rotate(-5deg);
	}
100% {
-webkit-transform:translate3d(0, 300%, 0);-ms-transform:translate3d(0, 300%, 0);
transform:translate3d(0, 300%, 0);
}
}
.fadeOutDown1 { -webkit-animation-name: fadeOutDown1; animation-name: fadeOutDown1 }


/*˫ʮһ�*/
.bgOverlay {position:fixed;width:100%;height:100%;left:0;top:0;right:0;bottom:0;z-index:100; background-color:rgba(0,0,0,.5);}
.bgOverlay .huodongBox {position:absolute;width:863px;height:521px;left:50%;top:50%;margin-left:-431px;margin-top:-260px;}
.bgOverlay .huodongBox a {display:block;width:48px;height:48px;position:absolute;right:0;top:0;}
